# -*- mode: sh -*-
alias -- grep 'command grep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox,.venv,venv}'
alias -- upper='command sed -E -e '\''s#.*#\U&#'\'''                          # REVIEW
alias -- lower='command sed -E -e '\''s#.*#\L&#'\'''                          # REVIEW
alias -- capitalize='command sed -E -e '\''s#[[:word:]]+#\u&#g'\'''           # REVIEW
alias -- punct-split='command sed -E -e '\''s##\u&#g'\'' -e '\''y///'\'' '    # REVIEW
alias -- inside-quotes='command grep -Po -- '\''(?<=([\x27\x22])).*(\1)'\'' ' # REVIEW

alias -- xargs='command xargs --no-run-if-empty'
alias -- rsync='command rsync '
alias -- --='if test -n "${TMUX_PANE}"; then command emacsclient --eval "(progn (switch-to-buffer (get-buffer (window-buffer)))(+tmux/cd-to-here))"; fi'
alias -- copy-pane='command tmux capture-pane -p -S - | command wl-copy'
alias -- copy-pwd='pwd | command wl-copy'

alias -- run='command systemd-run --user'
