@import "theme.css";
@import "fonts.css";

window#waybar {
  background-color: shade(@base, 0.9);
  border: 2px solid alpha(@crust, 0.3);
  margin: 100px;
}

window#waybar * {
  margin-right: 10px;
}

#custom-syncthing. {
  color: @sky;
}

#custom-emacs2.good {
  color: @mauve;
}

#custom-emacs.good {
  color: @mauve;
}

#modules-left {
  color: @blue;
}

#modules-right {
  color: @blue;
}

#modules-center {
  color: @blue;
}

.bad {
  color: @red;
}

* {
  color: @overlay2;
  /* color: @blue; */
  /* color: @surface1; */
}

#clock {
  font-weight: bold;
}

#temperature {
  color: @text;
  /* color-size: 1.2; */
}

#temperature.critical {
  color: @red;
}
